.bg_image{
	background-image:url("../image/Main_yyy/sign_up.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
}
.top_logo{
	margin:20px 0;
}
/* 每一列的样式 */
.one_column {
	width:400px;
	height:40px;
	font-size:20px;
	background-color:#91ebb9;
	text-align:center;
	
}
.one_column span{
	width:200px;
	display:block;
	float:left;
}
.one_column img{
	vertical-align:middle;
	margin-left:10px;
}
.one_column input{
	height:21px;
}
/* 看帖那一列的样式 */
.kantie{
	background-color:rgba(255,255,255,0.5);
	vertical-align:top;
}



/* 第三列登陆注册图标样式 */
.right_top{
	/* background-color:#eadbd3; */
	height:200px;
	text-align:center;
}


/* 登陆注册的按钮的样式 */
.right_top button{
	height:50px;
	width:260px;
	background-color:#00e717;
	border-radius:15px;
	box-shadow: 0 9px #999;
	font-size: 24px;
	text-align:center;
	color: #fff;
	margin:20px 0 20px 0;
	letter-spacing:40px;
	padding-left:40px;
}
.right_top button:hover
{
	background-color: #00d11f
}
.right_top button:active {
  /* background-color: #00d11f; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





/* 论坛信息的样式 */
.right_middle{
	/* background-color: #e2f3d7; */
	height:300px;
	width:450px;
	position:absolute;
}
.right_middle span{
	display:block;
	font-size:30px;
	font-weight:bold;
	padding:6px 0 25px;
	color:#5F5F61;
}
.right_middle td{
	line-height:30px;
}
.right_middle table{
	margin:0 20px;
	color:#5F5F61;
}
.qiumen{
	position:absolute;
	left:128px;
	top:0px;
	z-index:-1
}
.yimolanse{
	position:absolute;
	left:0px;
	z-index:-1;
}

/* 每一条帖子的样式 */
.click_logo_css{
	width:70px;
	height:32px;
	position:relative;
}
/* 点击量的样式 */
.click_logo_css img{
	vertical-align:middle;
	position:absolute;
	left:0px;
	top:2px;
}
.click_logo_css span{
	display:block;
	position:absolute;
	left:0px;
	top:6px;
	color:#5F5F61;
	text-align:center;
	width:50px;
	height:25px;
}
.one_info{
	cellpadding:"0";
	cellspacing:"1";
	border-bottom:1px solid #5F5F61;
}
