.general{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	flex-basis:20em;
}
list_word{
	text-align:right;
}
.huge{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:auto;
	flex-basis:2em;
}
.ta{
	border:0px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
}
.cb{
	
}